.friendlist{
    margin-left: 200px;
    text-align: center;
    width:50%
    
}

.friendscard{
    border:1px solid black;
    margin-left:200px;
    margin-bottom:30px;
    border-radius: 10px;
    background: #87B9CB;

    
}

.friendform{
    margin-left:400px;
    margin-top: 50px;
    margin-bottom:30px;
}

.friends{
height:30px;
width:100px;
margin-left: 20px;
}

.buttonform{
    margin-left: 20px;
    height:30px;
    width:100px;
}

.card{
    margin-top:30px;
}